html {
    background-color:rgb(252, 172, 25);
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
#Contenedor {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 173, 20);
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
  }
.Logo {
    max-height: 70px;
    width: auto;
    height: auto;
}
.Nombre{
    max-height: 70px;
    width: 90px;
    height: 70px;
}
header{
    padding: 5px 0px 5px ;
    background-color: orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
}
.barra {
    margin: auto;
}
.menu {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: flex-start ;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li {
    position: relative;
    margin: 0px;
}
.menu a {
    border-radius: 10px;
    font-size: 25px;
    background: rgb(201, 130, 0);
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
}
.submenu {
    display: none;
    position:absolute;
    background: rgb(201, 130, 0);
    list-style: none;
    padding-left: 0px;
    top: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);
    z-index: 10;
    border-radius: 10px;
}
.menu li:hover .submenu {
    display: block;
}
.submenu a {
    background: none;
    color: black;
    padding: 4px 8px;
    border-radius: 0;
}
.submenu a:hover {
    text-decoration: underline;
}
/*Inicio del medio*/
section{
    flex: 1;
}
.Integrantes {
    background-color: rgb(241, 179, 62);
    border-radius: 20px;
    margin: 10px 300px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section h2 {
    text-align: center;
    font-size: 40px;
    margin: 50px;
}
.Perfil {
    display: flex;
    gap: 20px;
}
section figure {
    background-color: rgb(252, 190, 76);
    border-radius: 20px;
    height: 400px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section img {
    width: 300px;
    padding: 20px;
    border-radius: 30px;
}
section figcaption {
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
}
/*Inicio del pie*/
footer {
    padding: 0 10px;
    align-items: center;
    background-color: orange;
    display: flex;
    justify-content: space-between
}
footer p {
    margin: 30px 20px;
    color: yellow;
}
footer img {
    padding: 5px;
    max-height: 70px;
    width: 60px;
    height: 60px;
}
/*Tamaño de la pégina*/
@media (max-width: 1448px) {
    .Integrantes {
        background-color: rgb(241, 179, 62);
        border-radius: 20px;
        margin: 10px auto;
        height: 750px;
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section figure {
        background-color: rgb(252, 190, 76);
        border-radius: 20px;
        height: 400px;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
}
@media (max-width: 620px) {
    footer img {
        padding: 5px;
        max-height: 70px;
        width: 20px;
        height: 20px;
    }
}